# OneDelivery Mobile App
EXPO_PUBLIC_API_URL=https://api.onedelivery.co.tz/api
EXPO_PUBLIC_SOCKET_URL=https://api.onedelivery.co.tz
EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_KEY=YOUR_ANDROID_KEY
EXPO_PUBLIC_GOOGLE_MAPS_IOS_KEY=YOUR_IOS_KEY
EXPO_PUBLIC_APP_ENV=production
